<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cgm.poemnow.mapper.BookSearchMapper" >

    <select id="selectBooksByTitle" resultType="hashmap" >
        SELECT  b.id, b.title, b.user_id , b.outer_color , b.inner_color ,DATE_FORMAT(b.created_at , '%Y-%m-%d') as created_at, b.book_detail, u.user_nickname,
        (SELECT COUNT(*) FROM book_like
        WHERE book_id = b.id) as like_cnt
        FROM book b
        INNER JOIN user u ON b.user_id = u.id
        WHERE b.title LIKE concat('%' , '나', '%') ORDER BY
        <choose>
            <when test="sortOrder == 'like'">like_cnt DESC</when>
            <otherwise>created_at DESC</otherwise>
        </choose>
    </select>

    <select id="selectBooksByPoem" resultType="com.cgm.poemnow.domain.Book">
        SELECT book.* FROM book JOIN book_poem bp on book.id = bp.book_id JOIN poem p on bp.poem_id = p.id WHERE p.title LIKE concat('%' , #{keyword}, '%') ORDER BY
        <choose>
            <when test="sortOrder == 'like'">like_cnt DESC</when>
            <otherwise>created_at DESC</otherwise>
        </choose>
    </select>

    <select id="selectBooksByAuthor" resultType="com.cgm.poemnow.domain.Book">
        SELECT * FROM book WHERE book.author LIKE concat('%' , #{keyword}, '%') ORDER BY
        <choose>
            <when test="sortOrder == 'like'">like_cnt DESC</when>
            <otherwise>created_at DESC</otherwise>
        </choose>
    </select>

</mapper>