<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cgm.poemnow.mapper.BookLikeMapper" >

    <select id="selectBookLike" resultType="HashMap" parameterType="Integer">
        SELECT u.user_id userId, l.book_id bookId FROM book_like l
        INNER JOIN user u ON l.user_id = u.id
        WHERE l.user_id = #{userId}
    </select>

    <insert id="insertBookLike" parameterType="com.cgm.poemnow.domain.Like.PoemLike">
        INSERT INTO book_like(user_id, book_id)
        VALUES (#{userId} , #{bookId})
    </insert>

    <delete id="deleteBookLike" parameterType="Integer">
        DELETE FROM book_like
        WHERE user_id = #{userId} AND book_id = #{bookId};
    </delete>

<!--    <select id="selectUserByIdentifierAndPassword" parameterType="java.util.Map" resultType="com.cgm.poemnow.domain.User">-->
<!--        SELECT id, user_id, password-->
<!--        FROM user-->
<!--        WHERE user_id = #{userId}-->
<!--          AND password = #{password}-->
<!--    </select>-->

</mapper>