<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cgm.poemnow.mapper.CommentLikeMapper" >

    <select id="selectCommentLike" resultType="HashMap" parameterType="Integer">
        SELECT u.id , u.user_nickname, comment_id, c.content, c.created_at,p.title,
               (SELECT uu.user_nickname FROM poem pp
                                                 INNER JOIN user uu ON uu.id = pp.user_id
                where pp.id = p.id) as nickname FROM comment_like l
                                                         INNER JOIN user u ON l.user_id = u.id
                                                         INNER JOIN comment c ON c.id = l.comment_id
                                                         INNER JOIN poem p ON p.id = c.poem_id
        WHERE l.user_id = #{userId}
        AND c.deleted = 0;
    </select>

    <insert id="insertCommentLike" parameterType="com.cgm.poemnow.domain.Like.PoemLike">
        INSERT INTO comment_like(user_id, comment_id)
        VALUES (#{userId} , #{commentId})
    </insert>

    <delete id="deleteCommentLike" parameterType="Integer">
        DELETE FROM comment_like
        WHERE user_id = #{userId} AND comment_id = #{commentId};
    </delete>

    <select id="selectCommentLikeCnt" resultType="Integer" parameterType="Integer">
        SELECT COUNT(*) FROM comment_like
        WHERE user_id = #{commentId}
    </select>

    <select id="selectCommentLikeUserCnt" resultType="Integer" parameterType="Integer">
        SELECT COUNT(*) FROM comment_like
        WHERE comment_id = #{commentId}
    </select>

</mapper>