<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cgm.poemnow.mapper.LikeMapper" >
    <select id="likePoemList" resultType="HashMap" parameterType="Integer">
            SELECT U.user_id, L.poem_id FROM poem_like L
            INNER JOIN USER U ON L.user_id = U.ID
            WHERE L.USER_ID = #{user_id}
    </select>
    <insert id="likePoem" parameterType="com.cgm.poemnow.domain.Like">
        INSERT INTO poem_like(user_id, poem_id)
        VALUES (#{userId} , #{poemId})
    </insert>
    <delete id="unLikePoem" parameterType="Integer">
        DELETE FROM poem_like
        WHERE user_id = #{userId} AND poem_id = #{poemId};
    </delete>
</mapper>