<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cgm.poemnow.mapper.UserSearchMapper" >

    <select id="selectUsersByNickname" resultType="com.cgm.poemnow.domain.User">
        SELECT * FROM user WHERE user_nickname LIKE concat('%' , #{keyword}, '%') ORDER BY
        <choose>
            <when test="sortOrder == 'follower_cnt'"> follower_cnt DESC</when>
            <otherwise>created_at DESC</otherwise>
        </choose>
    </select>

</mapper>